trigger:
  branches:
    include:
      - develop

pool:
  vmImage: 'ubuntu-latest'

variables:
  nodeVersion: '18.x'
  buildFolder: 'dist'
  
steps:
  - task: NodeTool@0
    displayName: 'Use Node.js $(nodeVersion)'
    inputs:
      versionSpec: '$(nodeVersion)'

  - script: |
      npm install
    displayName: 'Install dependencies'

  - script: |
      npm run build
    displayName: 'Build React app'

  # Publish the compiled app as a build artifact
  - task: PublishBuildArtifacts@1
    displayName: 'Publish build artifact'
    inputs:
      PathtoPublish: '$(buildFolder)'
      ArtifactName: 'react-build'
      publishLocation: 'Container'
